@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@400;700&family=Rubik:wght@400;500;700&display=swap");

* {
  font-family: "Rubik";
}

.leaflet-container {
  width: 100vw;
  height: 100vh;
  position: relative;
  bottom: 160px;
  z-index: 5;
}
